/.settings/*
 
/html-template/*
/bin-debug/*
/bin-release/*
/libs/*
/bin/*
/docs/*
/report/*
/dist/*
/apks/*
/tmp/*
/bin-air/*
 
/.actionScriptProperties
/.flexProperties
/.flexLibProperties
/.project
/.as3_classpath
/com.adobe.flexbuilder.project.prefs
/org.eclipse.core.resources.prefs
 
Icon
Thumbs.db
.DS_Store

*.swp
*~
*.iml
build.properties
log.txt